body{
    background-color: black;
    color: white;
}

.menusav{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-right:auto;

}

a{
    margin-right: 400px;
    text-decoration: none;
    color: black;
    font-size: 30px;

}

img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.tartalom {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 300px;
    margin-right: 300px;
}