body{
    background-color: black;
    color: white;
}

.menusav{
    background-color: white;   
    display: flex;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.tartalom {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 300px;
    margin-right: 300px;
}

.menusav :hover {
    background-color: black;
    color: white;
}